[Unit]
Description=LSB: Omada Controller
Before=multi-user.target
Before=graphical.target
After=remote-fs.target
After=network-online.target
Wants=network-online.target
# 
[Service]
Type=exec
EnvironmentFile=-/tmp/omada.env
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
User=omada
Group=omada
PIDFile=/run/omada.pid
WorkingDirectory=/opt/tplink/EAPController/work
ExecStartPre=/usr/bin/omadaenv
ExecStart=/usr/bin/java $JAVA_OPTS $MAIN_CLASS start
ExecStop=/usr/bin/java $JAVA_OPTS $MAIN_CLASS stop
ExecStopPost=/usr/bin/rm -f /tmp/omada.env

[Install]
WantedBy=multi-user.target
